*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}

body {
    background-image: linear-gradient( #009ffd,#2a2a73);
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;


}
#Nav{

    background-color: teal;
    display: flex;
    justify-content: space-between;
    height:5em;
    width:80%;
    margin-top:auto;
    background-color:coral;
    margin-left:20%;
    float:right;



}
#NavItem{
    background-color:#DC143C;
    height:5em;
    width:33.3%;
    border-left:3px solid red;

}
#NavItem2{
    background-color:#DC143C;
    height:5em;
    width:33.3%;


}
#NavItem ,#NavItem2 {
    display:flex;
    justify-content: center;
    align-items: center;
    margin:0;
    vertical-align: middle;
    background-color:#DC143C;
    height:100%;
    font-size:150%;
    color:white;
}
.margin2{

    text-align:center;
    background-color:rgba(0,0,0,.5);
    height:25%;
    width:100%;
    font-size:1.5em;
    color:white;
    position:absolute;
    text-align:center;
    bottom:0;
   

}
.Baner{
    width:20%;
    height:100vh;
    background-color:pink;
    background-image: linear-gradient( #009ffd,#2a2a72);
    margin:0;
    float:left;
    display: flex;
    flex-direction: column;
    margin-top:-5em;
}
img{
    width:30%;
    margin-top:5%;
    margin-left:35%;

}

#ObrazekMenu{
    width:15%;
    position:absoulte;
    margin-left:5%;

}
#TekstMenu{
    justify-content: center;
    align-items: center;
    height:120%;
    color:white;
    font-size:1em;
    margin-top:1em;
    text-align:center;
    font-weight: bold;
}

#Menu{

    width:60%;
    margin: 1em;
    height:5%;
    position:relative;
}
a{
    text-decoration:none;
    color:white;

}

#Content a{
    font-size:3em;
}
#MenuLogout{
    width:80%;
    margin-left:10%;
    height:5%;
    position:relative;
    margin-top:20em;


}
#ObrazekMenuTime{
    width:20%;
    position:absoulte;
    margin-left:2%;
    float:left;
    margin-top:2%;


}
#ObrazekMenuGear{
    width:20%;
    position:absoulte;
    margin-left:2%;
    float:left;
    margin-top:5%;
}
#ObrazekMenuLogout{
    width:20%;
    position:absoulte;
    margin-left:4%;
    float:left;
    margin-top:20%;
}
#Content{
    width:75%;
    margin: 2em;
    display: flex;
}
h1, h2{
    text-align:center;
    color:white;
}
h2{
    font-size:3em;
}

.main-left{
    width: 60%;
}

.movie img{
    margin: 0;
    padding: 0;
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:5em;
}

.movie-name{
    background-color: transparent;
    font-size: .6em;
    text-align:center;

}

.main-right{
    width: 19%;
    color:white;
}

.main-right h3{
    font-size: 2.5em;
}

.main-right li{
    font-size: .5em;
}
.Mov{
    width:75%;
    height:40em;
    float:left;
    margin-top:2.5%;
    margin-left:2.5%;
    position:relative;
    background-size:cover;
}
.profile{
    text-align:center;
    color:white;
    font-size:2em;
    height:15%;
    width:40%;
    position:absolute;
    margin-top:15%;
    margin-left:40%;
    background-color:black;
    border-radius:25px;
    padding:0.8em;
}
.points{
    position:absolute;
    width:30%;
    background-color:black;
    height:7em;
    margin:0 auto;
    padding:0 auto;
    left:50em;
    top:10em;
    border-radius:20px;
    text-align:center;

}
.ps{
    font-size:3em;
    color:white;
    text-align:center;
    
}
#in{
    width:10em;
    height:3em;
    
   
}

.submit {
  
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 30%;
}

.submit:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.submit:main,
.submit:focus {
  user-select: auto;
}

.submit:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.submit:disabled {
  cursor: auto;
}