body {
    background-color: #3067E6;
    font-family: 'Poppins', sans-serif;
    font-size: calc(16px + 1vw);
    line-height: calc(1.1em + 0.5vw);
    margin: 0;
    padding: 0;
}

.base-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

nav {
    width: 20%;
    height: 100%;
    background-color: #3067E6;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.logo-container {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 70%;
    margin: 2em auto;
}

.user-container {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user {
    width: 30%;
}

#username {
    color: white;
    font-size: 0.7em;
}

.menu-list {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

a {
    text-decoration: none;
    display: inline-block;
    line-height: 1.5em;
    color: white;
    font-size: 0.65em;
}

ul {
    list-style-type: none;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}

li {
    margin-top: 5%;
}

li:last-child {
    position: absolute;
    bottom: 0;
    margin-bottom: 3%;
}

main {
    width: 80%;
    height: 100%;
    background-color: #FBFCFF;
    border-radius: 40px 0px 0px 40px;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 20%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-top: 4%;
}

.title {
    color: #0C1192;
    font-size: 1.6em;
    font-weight: 800;
    width: 40%;
}

.search-bar {
    width: 20%;
    margin-left: 10%;
    margin-bottom: 1%;
}

.search {
    width: 100%;
    font-size: 0.5em;
    color: black;
    opacity: 50%;
    font-weight: bold;
    text-align: center;
    background-color: #EBEBEB;
    border-radius: 7px;
    height: 4vh;
    border: 1px solid grey;
}

.search::placeholder {
    font-weight: 400;
    text-align: center;
}

.add-flashcard {
    background-color: #3067E6;
    height: 5.5vh;
    border: 1px solid #707070;
    border-radius: 7px;
    width: 27%;
    color: white;
    font-size: 0.50em;
    transition: background-color 0.5s;
    margin: 1.5% 3% 1.5% 1.5%;
}

.add-flashcard:hover {
    background-color: #2148A1;
}

.section-container {
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5em;
    margin: 0 auto;
    overflow: auto;
}

section::-webkit-scrollbar {
    display: none; /* hide scrollbar */
}

.flashcard {
    height: 20vh;
    width: 90%;
    border: 1px solid black;
    color: black;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 15px;
    display: flex;
    flex-direction: column;
    transition: box-shadow 0.4s;
}

.flashcard-category {
    margin-left: 10%;
    margin-top: 4%;
    font-size: 0.7em;
    font-weight: bold;
}

.category-terms {
    margin-left: 10%;
    font-size: 0.6em;
    margin-top: -6%;
}

#delete-button {
    width: 30%;
    background-color: #3067E6;
    border: 1px solid #707070;
    border-radius: 7px;
    color: white;
    font-size: 0.45em;
    transition: background-color 0.5s;
    margin: 10% auto 0;
    height: 4vh;
}

.flashcard:hover {
    box-shadow: rgba(0, 0, 0, 0.65) 0px 5px 18px;
}

.add-set-container {
    width: 100%;
    height: 80%;
    margin: 0 auto;
    padding: 0;
}

.add-set-form {
    margin: 0 auto;
    padding: 0;
    width: 40%;
    height: 80%;
}

#set {
    height: 55vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.2em;
    width: 100%;
    overflow-y:auto;
    overflow-x: hidden;
}

.add-set-input {
    background-color: #EBEBEB;
    height: 4vh;
    border: 1px solid grey;
    border-radius: 2px;
    width: 90%;
    font-size: 0.5em;
    color: black;
    opacity: 50%;
    font-weight: bold;
    text-align: center;
}

.add-set-input::placeholder {
    font-weight: 400;
    text-align: center;
}

#set-name-input {
    width: 43%;
    margin-bottom: 5%;
}

#add-set-button {
    background-color: #3067E6;
    height: 5.5vh;
    border: 1px solid #707070;
    border-radius: 7px;
    width: 46%;
    color: white;
    font-size: 0.55em;
    transition: background-color 0.5s;
    margin-top: 5%;
}

#add-set-button:hover {
    background-color: #2148A1;
}

.controls a {
    color: #0C1192;
    font-size: 0.55em;
    padding: 1em;
}

td {
    font-size: 0.5em;
}

.messages {
    font-size: 0.55em;
    color: red;
}

@media only screen and (max-device-width: 600px)  {
    .base-container {
        flex-direction: column;
    }

    nav {
        width: 100%;
        height: 20%;
        background-color: #3067E6;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
    }

    main {
        width: 100%;
        height: 90%;
        background-color: #FBFCFF;
        border-radius: 20px 20px 0px 0px;
        justify-content: flex-start;
    }

    header {
        height: 15%;
    }

    .add-flashcard {
        height: 4.2vh;
        width: 100%;
        font-size: 0.8em;
        margin: -2% auto 0 38%;
    }

    .section-container {
        width: 80%;
        height: 80%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1.5em;
        margin: 0 auto;
        overflow: auto;
    }

    section::-webkit-scrollbar {
        display: none; /* hide scrollbar */
    }

    .section-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        overflow: auto;
    }

    .search-bar {
        width: 79%;
        padding-bottom: 3%;
    }

    .search {
        font-size: 0.9em;
        font-weight: bold;
    }

    .search::placeholder {
        font-weight: bold;
    }

    .flashcard {
        height: 17vh;
        width: 80%;
        margin: 0 auto;
        padding-bottom: 2vh;
    }

    .flashcard-category {
        margin-top: 6%;
        font-size: 1em;
    }

    .category-terms {
        font-size: 0.9em;
        margin-top: 0;
    }

    #delete-button {
        width: 30%;
        font-size: 0.9em;
        margin: 13% auto 0;
    }

    .user-container {
        display: none
    }

    .title {
        width: 10%;
    }

    nav {
        width: 100%;
        height: 10%;
        background-color: #3067E6;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
    }

    .logo-container {
        width: 70%;
        height: 100%;
        display: flex;
    }

    .logo {
        width: 80%;
    }

    .menu-list {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style-type: none;
        margin-right: 4%;
    }

    a {
        text-decoration: none;
        display: inline-block;
        color: white;
        font-size: 0.7em;
    }

    li {
        margin-top: 0;
        position: relative;
        bottom: 0;
        font-size: 1.1em;
        padding-left: 4%;
    }

    li:first-child {
        padding-left: 0;
    }

    li:last-child {
        position: relative;
        margin-bottom: 0;
    }

    .add-set-form {
        width: 80%;
    }

    #add-set-button {
        height: 4vh;
        font-size: 0.7em;
        margin-top: 3%;
    }

    #title {
        width: 60%;
    }

    #header {
        height: 10%;
    }

    .controls a {
        color: #0C1192;
        font-size: 0.65em;
        padding: 1em;
        margin-left: -3%;
    }

    .add-set-input {
        font-size: 0.7em;
    }
}